.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints
.env
*.env
env_for_pycharm.txt
*.log
.venv/
venv/
words_to_learn.csv
flight_cache*
pyrightconfig.json
